<a class="ion-activatable" [ngClass]="size" *ngIf="!checkItems(item)" flex-item
   (click)="preventAndEmit($event, navigateTo, item)"
   pbjPress (pressed)="preventAndEmit($event, more, item)">
  <pbj-list-item-image *ngIf="mode !== 'no-images'" slot="start" [item]="item" [size]="itemImageSize"
                       (click)="preventAndEmit($event, select, item)" [mode]="mode"></pbj-list-item-image>
  <div class="item-content">
    <div class="buttons buttons-start">
      <ion-button (click)="preventAndEmit($event, play, item)" size="default" fill="clear">
        <ion-icon slot="icon-only"
                  [name]="player.isCurrentlyPlaying(item) ? 'pause-sharp' : 'play-sharp'"
                  [color]="player.isCurrentlyPlaying(item) ? 'secondary' : 'primary'"
                  size="small"></ion-icon>
      </ion-button>
      <!--      <ion-button (click)="onSelect($event, item)" size="default" fill="clear" class="extra-large">-->
      <!--        <ion-icon slot="icon-only" name="heart-sharp" size="small"></ion-icon>-->
      <!--      </ion-button>-->
      <ion-button (click)="preventAndEmit($event, more, item)" size="default" fill="clear" class="more-start">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-sharp" size="small"></ion-icon>
      </ion-button>
    </div>
    <div class="header">
      <div class="subtitle " (click)="preventAndEmit($event, navigateToSub, item)"><span>{{info.subline}}</span></div>
      <div class="pbj-title-line" (click)="preventAndEmit($event, navigateTo, item)"><span>{{info.name}}</span><span style="flex:1; text-align: right">{{info.endline}}</span></div>
    </div>
    <div class="buttons buttons-end">
      <ion-button (click)="preventAndEmit($event, more, item)" size="default" fill="clear" class="more-end">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-sharp" size="small"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-ripple-effect></ion-ripple-effect>
</a>
