.pbj-pre-line {
  word-break: break-word;
  white-space: pre-line;

  ::ng-deep a {
    border: 1px solid lightgrey;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    margin: .5rem 1rem;
    background-color: #dadada;
  }
}
