<ion-content>
  <pbj-view-content [item]="dataService.item$('podcast') | async"></pbj-view-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="tab">
    <ion-segment-button value="episodes">
      <ion-label>Episodes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="description">
      <ion-label>Description</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="tabs-inner" flex-col flex-item [ngSwitch]="tab">
    <ng-container *ngSwitchCase="'episodes'">
      <pbj-virtual-list [items]="dataService.sublist$('podcastEpisodes') | async"
      ></pbj-virtual-list>
    </ng-container>
    <ng-container *ngSwitchCase="'description'">
      <p flex-item>
        <ion-text class="pbj-pre-line" [innerHtml]="podcast?.description | description"></ion-text>
      </p>
    </ng-container>
  </div>

</ion-content>
