<ion-header>
  <pbj-toolbar [text]="pageName">
    <ion-button (click)="navService.navigateBack()" fill="clear" color="primary" slot="end">
      <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
    </ion-button>
  </pbj-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="scrollTop = $event.detail.scrollTop">
  <pbj-view-content [item]="player.current$ | async" (play)="player.togglePlay()"></pbj-view-content>
  <pbj-toolbelt [scrollTop]="scrollTop">
    <ion-buttons slot="start">
      <ion-button (click)="player.clear()">
        <ion-icon slot="icon-only" name="trash-sharp" size="small"></ion-icon>
      </ion-button>

      <ion-button (click)="player.shuffle()">
        <ion-icon slot="icon-only" name="shuffle-sharp" size="small"></ion-icon>
      </ion-button>

      <!--      <ion-button [color]="player.repeatMode !== 'none' ? 'secondary' : 'primary'" (click)="player.toggleRepeatMode()">-->
      <!--        <ion-icon slot="icon-only" name="repeat-sharp" size="small"></ion-icon>-->
      <!--        <ion-badge *ngIf="player.repeatMode === 'single'" color="secondary">1</ion-badge>-->
      <!--      </ion-button>-->

    </ion-buttons>
  </pbj-toolbelt>
  <pbj-virtual-list [items]="player.queue$ | async" [itemSize]="settings.queue.list.size" [panel]="settings.queue.list.panel"
                    (play)="onPlay($event.ev, $event.item)"
                    (more)="onMore($event.ev, $event.item)"

  ></pbj-virtual-list>

  <!--  <ion-list *ngIf="items.length <= 50">-->
  <!--    <ion-reorder-group (ionItemReorder)="reorderItems($event)" [disabled]="false">-->
  <!--      <ion-item *ngFor="let item of items; let i = index">-->
  <!--        <ion-icon name="play-circle-sharp" slot="start" (click)="player.playFrom(item)" [color]="item === player.current ? 'secondary' : 'primary'"></ion-icon>-->
  <!--        <pbj-list-item [item]="item" size="48" [image]="platform.isLandscape()"></pbj-list-item>-->
  <!--                        <ion-text slot="start">{{i | track:items.length}}</ion-text>-->
  <!--                        <ion-avatar *ngIf="platform.isLandscape()" slot="start">-->
  <!--                            <pbj-list-item-image [id]="item.id" [size]="40"></pbj-list-item-image>-->
  <!--                        </ion-avatar>-->
  <!--                        <ion-label>{{UTILS.getNameFromBase(item)}}</ion-label>-->
  <!--        <ion-icon name="trash-sharp" slot="end" (click)="removeItem(item)"></ion-icon>-->
  <!--        <ion-reorder slot="end"></ion-reorder>-->
  <!--      </ion-item>-->
  <!--    </ion-reorder-group>-->
  <!--  </ion-list>-->

</ion-content>
