@import "../../../../theme/variables";
@import "../../../../theme/mixins";

$bottom-space: 40px;
$content-margin: .5rem auto 0 auto;
$gc-big: 61.8%;
//$gc-big: 50%;
$gc-small: 38.2%;
//$gc-small: 50%;

:host {
  display: block;
  background-color: var(--ion-background-color);
  overflow: hidden;
  width: 100%;

  .pbj-panel-container {
    width: var(--pbj-list-item-row-width, 100%);
    height: var(--pbj-list-item-height, 100px);
    display: flex;
    $padding-grid-small: 2px;
    $padding-grid-medium: 4px;
    $padding-grid-large: 8px;

    &.small {
      .pbj-panel-item {
        width: calc(var(--pbj-list-item-base-size) - #{$padding-grid-small + $padding-grid-small});
        height: calc(100% - #{$padding-grid-small + $padding-grid-small});
        margin: $padding-grid-small auto;
      }

      --pbj-list-item-image-height: calc(var(--pbj-list-item-base-size) - #{$padding-grid-small + $padding-grid-small});

    }

    &.medium {
      .pbj-panel-item {
        width: calc(var(--pbj-list-item-base-size) - #{$padding-grid-medium + $padding-grid-medium});
        height: calc(100% - #{$padding-grid-medium + $padding-grid-medium});
        margin: $padding-grid-medium auto;
      }

      --pbj-list-item-image-height: calc(var(--pbj-list-item-base-size) - #{$padding-grid-medium + $padding-grid-medium});
    }

    &.large {
      .pbj-panel-item {
        width: calc(var(--pbj-list-item-base-size) - #{$padding-grid-large + $padding-grid-large});
        height: calc(100% - #{$padding-grid-large + $padding-grid-large});
        margin: $padding-grid-large auto;
      }

      --pbj-list-item-image-height: calc(var(--pbj-list-item-base-size) - #{$padding-grid-large + $padding-grid-large});
    }

    .pbj-panel-item-container {
      flex: 1;
      height: 100%;
      // width: var(--pbj-list-item-width, 100px); // full width available
      min-width: var(--pbj-list-item-base-size, 100px);
    }

  }

  .pbj-panel-item {

    display: block;
    position: relative;
    color: var(--ion-text-color);
    font-family: var(--ion-font-family, inherit);
    overflow: hidden;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    .overlay {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: var(--pbj-list-item-image-height);
      color: #a4a4a412;
      font-size: 3rem;
      text-align: center;

      .left, .right {
        position: absolute;
        width: 50%;
        height: 100%;
      }

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }

    }

    &.small {
      .pbj-panel-title {
        span {
          @include line-clamp(2, 0.8rem, 1.2, 0); // 2 lines title
        }
      }

      .pbj-panel-subtitle {
        display: none; // subtitle disabled
      }
    }

    &.medium {
      .pbj-panel-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          @include line-clamp(1, 1rem, 1, 0); // 2 lines title
        }
      }
    }

    &.large {
      .pbj-panel-subtitle {
        font-size: 0.8rem;
        min-height: 1.5rem;
      }
    }

    &.expanded {
      .overlay {
        height: #{$gc-small};
      }

      .pbj-panel-item-header {
        height: #{$gc-big};
        top: #{$gc-small};
      }

      &.small {
        .overlay {
          height: 0;
        }

        .pbj-panel-item-header {
          height: 100%;
        }
      }
    }
  }

  pbj-list-item-image {
    --pbj-list-item-image-border-radius: 0%;
    --pbj-list-item-image-fit: contain;
    --pbj-list-item-image-pos: top center;
  }

  .pbj-panel-item-header {
    position: absolute;
    left: 0;
    top: var(--pbj-list-item-image-height);
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    color: var(--ion-color-step-550);
    display: flex;
    flex-direction: column;

    .pbj-panel-title {
      flex: 1;
      margin: 0;
      color: var(--ion-color-primary, #3880ff);

      span {
        @include line-clamp(2, 1rem, 1, 0);
      }
    }

    .pbj-panel-subtitle {
      flex: 0;
      margin: 0;
      color: var(--ion-color-step-800);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      min-height: 1.5rem;
      line-height: 1.5rem;
    }
  }

  ion-toolbar {
    --background: transparent;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-endt: 0px;
    --padding-top: 0px;

    ion-button {
      width: 36px;
      --padding-start: 0;
      --padding-end: 0;
      font-size: 9px;
    }
  }

}
