<ion-header>
  <pbj-toolbar></pbj-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <pbj-auth-box></pbj-auth-box>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Image Options
        </ion-label>
      </ion-item-divider>

      <ion-item lines="inset">
        <ion-label>Cover Fit</ion-label>

        <ion-select [(ngModel)]="settings.ui.coverFit"
                    ok-text="Okay" cancel-text="Dismiss"
                    (ionChange)="saveSettings()">
          <ion-select-option value="cover">Cover</ion-select-option>
          <ion-select-option value="contain">Contain</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>Cover Position</ion-label>

        <ion-select [(ngModel)]="settings.ui.coverAlign"
                    ok-text="Okay" cancel-text="Dismiss"
                    (ionChange)="saveSettings()">
          <ion-select-option value="top">Top</ion-select-option>
          <ion-select-option value="center">Center</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-label>Cover Size</ion-label>
        <ion-select [(ngModel)]="settings.ui.coverSize"
                    ok-text="Okay" cancel-text="Dismiss"
                    (ionChange)="saveSettings()">
          <ion-select-option value="small">Small</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="large">Large</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Other Options
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Random Song Count</ion-label>
        <ion-input slot="end" class="ion-text-right" [(ngModel)]="settings.config.rndSongCount" type="number"
                   placeholder="Random Song Count"
                   (ionChange)="saveSettings()">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>Help</ion-label>
        <ion-select [(ngModel)]="settings.ui.helpMode"
                    okText="Okay" cancelText="Dismiss"
                    (ionChange)="saveSettings()">
          <ion-select-option value="always">Always</ion-select-option>
          <ion-select-option value="once">Once</ion-select-option>
          <ion-select-option value="never">Never</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Library Options
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let type of (settings.library.types | objectkeys)">
        <ion-label>{{type}}</ion-label>
        <ion-toggle slot="end" [(ngModel)]="settings.library.types[type]" (ionChange)="saveSettings()"></ion-toggle>
      </ion-item>
      <ion-item *ngFor="let type of (settings.library.lists | objectkeys)">
        <ion-label>{{type}}</ion-label>
        <ion-toggle slot="end" [(ngModel)]="settings.library.lists[type]" (ionChange)="saveSettings()"></ion-toggle>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>Help</ion-label>
        <ion-select [(ngModel)]="settings.ui.helpMode"
                    okText="Okay" cancelText="Dismiss"
                    (ionChange)="saveSettings()">
          <ion-select-option value="always">Always</ion-select-option>
          <ion-select-option value="once">Once</ion-select-option>
          <ion-select-option value="never">Never</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>


    <ion-button (click)="showSettings()">Shhhowwwww Settings</ion-button>
    <ion-button (click)="resetSettings()">Reset Settings</ion-button>
    <ion-button (click)="saveSettings()">Save Settings</ion-button>
  </ion-list>
</ion-content>
