:host {
  display: block;

  &.sticky {
    height: 56px;

    ion-toolbar {
      z-index: 1001;
      position: fixed;
      top: var(--offset-top, 0);
      left: 0;
      right: 0;
    }
  }


  ion-toolbar {
    height: 56px;

    ion-badge {
      margin-left: .3rem;
    }
  }


  .pbj-button-play {
    max-width: 115px;
    margin: 0 auto;
  }
}
