<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!--        <ion-list-header>Navigate</ion-list-header>-->
    <ng-container *ngFor="let pbjItem of menuItems">
      <ng-container *ngTemplateOutlet="(pbjItem.disabled?pbjItem.disabled():false) ? simpleItem : closingItem; context: {pbjItem:pbjItem}"></ng-container>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

<ng-template #closingItem let-pbjItem="pbjItem">
  <ion-menu-toggle>
    <ng-container *ngTemplateOutlet="simpleItem; context: {pbjItem:pbjItem}"></ng-container>
  </ion-menu-toggle>
</ng-template>

<ng-template #simpleItem let-pbjItem="pbjItem">
  <!--suppress TypeScriptValidateJSTypes -->
  <ion-item (click)="navService.navigateToMenuItem(pbjItem)" button="true" [disabled]="pbjItem.disabled?pbjItem.disabled():false">
    <ion-icon slot="start" name="{{pbjItem.icon}}" color="primary"></ion-icon>
    <ion-label>{{pbjItem.label}}</ion-label>
  </ion-item>
</ng-template>

