<ng-container *ngIf="imageUrl">
  <div *ngIf="mode === 'item'" class="flipper" [class.pbj-selected]="uiService.isSelected(this.item)">
    <div class="front">
      <!--        <ion-img [src]="imageUrl" alt="item-image" (ionError)="imageUrl = '/assets/img/audio-folder-icon.png'"></ion-img>-->
      <pbj-lazy-img [src]="imageUrl" alt="item-image" (imgError)="imageUrl = '/assets/img/audio-folder-icon.png'"></pbj-lazy-img>
    </div>
    <div class="back">
      <!--        <ion-img [src]="imageUrl" alt="item-image" (ionError)="imageUrl = '/assets/img/audio-folder-icon.png'"></ion-img>-->
      <pbj-lazy-img [src]="imageUrl" alt="item-image" (imgError)="imageUrl = '/assets/img/audio-folder-icon.png'"></pbj-lazy-img>
      <ion-icon name="checkmark-circle-sharp" color="danger"></ion-icon>
    </div>
  </div>
  <div *ngIf="mode !== 'item'" class="cover">
    <!--    <ion-img [src]="imageUrl" alt="item-image" (ionError)="imageUrl = '/assets/img/audio-folder-icon.png'"></ion-img>-->
    <pbj-lazy-img [src]="imageUrl" alt="item-image" (imgError)="imageUrl = '/assets/img/audio-folder-icon.png'"></pbj-lazy-img>
  </div>
</ng-container>
