:host {
  width: 100%;
  height: 100%;
}

ion-grid {

  width: 100%;
  height: 100%;

  ion-row {
    ion-col {
      ion-button {
        --width: 100%;
        --height: 50px;
        width: var(--width);
        height: var(--height);

        &.selected {
          background-color: var(--ion-color-primary);
        }
      }
    }
  }
}
