<ion-grid [class.landscape]="platform.isLandscape()">
  <ion-row *ngFor="let group of letters | groupByMod:(platform.isPortrait()?4:6):true">
    <ion-col *ngFor="let letter of group">
      <ion-button (click)="execute(letter)" [color]="!!letter && letter === currentLetter ? 'secondary' : 'primary'"
                  class="pbj-button" tappable fill="solid"
                  [disabled]="(letter !== null) && !(currentLetters?.indexOf(letter) >= 0)">
        {{letter}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
