<ion-header>
  <pbj-toolbar back="true"></pbj-toolbar>
</ion-header>

<!--<ion-content>-->
<!--    <pbj-view-content [item]="playlist"></pbj-view-content>-->
<!--    <pbj-queue [items]="playlist?.tracks"></pbj-queue>-->
<!--    <pbj-player></pbj-player>-->
<!--</ion-content>-->
<ion-content scrollEvents="true" (ionScroll)="scrollTop = $event.detail.scrollTop">
  <pbj-view-content [item]="dataService.item$('playlist') | async"></pbj-view-content>
  <pbj-toolbelt [scrollTop]="scrollTop"></pbj-toolbelt>
  <pbj-virtual-list [items]="dataService.sublist$('playlistTracks') | async"
  ></pbj-virtual-list>
</ion-content>
