<ion-range min="0" [max]="player.duration" [value]="player.position" color="secondary" disabled="false"
           (ionChange)="positionChanged($event)"
>
  <ion-label slot="start" color="primary">{{player.position | duration}}</ion-label>
  <ion-label slot="end" color="primary">{{player.duration | duration}}</ion-label>
</ion-range>
<ion-toolbar>
  <ion-buttons slot="start" flex-center-center>
    <ion-button [disabled]="!player.hasItems()" [hidden]="!settings.player.mode">
      <ion-icon slot="icon-only" name="shuffle-sharp" size="small"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!player.hasPrev()" [hidden]="!settings.player.prev" (click)="player.prev()">
      <ion-icon slot="icon-only" name="play-skip-back-sharp" size="small"></ion-icon>
    </ion-button>
    <ion-button size="large" (click)="player.togglePlay()" class="pbj-play-button">
      <ion-icon *ngIf="!player.isPlaying " slot="icon-only" name="play-sharp" size="large"></ion-icon>
      <ion-icon *ngIf="player.isPlaying" slot="icon-only" name="pause-sharp"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!player.hasNext()" (click)="player.next()">
      <ion-icon slot="icon-only" name="play-skip-forward-sharp" size="small"></ion-icon>
    </ion-button>
    <ion-button [color]="player.repeatMode !== 'none' ? 'secondary' : 'primary'" (click)="player.toggleRepeatMode()" [hidden]="!settings.player.repeat">
      <ion-icon slot="icon-only" name="repeat-sharp" size="small"></ion-icon>
      <ion-badge *ngIf="player.repeatMode === 'single'" color="secondary">1</ion-badge>
    </ion-button>
  </ion-buttons>
  <ion-label text-ellipse>{{player.currentLabel()}}</ion-label>
  <ion-buttons slot="secondary">
    <ion-button (click)="toggleQueue()" [disabled]="!player.hasItems()">
      <ion-icon slot="icon-only" name="list-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
