// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Spotify Theme
// https://codepen.io/alowenthal/pen/rxboRv
$green: #1ed760;
$sand: #c8c8c8;
$blue: #4688d7;


$light-black: #282828;
$light-black2: #383838;
$black: #181818;
$grey: #aaaaaa;
$sand: #c8c8c8;
$white: #ffffff;
$blue: #4688d7;

/** Pbj CSS Variables */
$pbj-margin-small: 0.5rem; // 8px

$pbj-text-size-small: 0.6875rem; // 11px
$pbj-text-size-normal: 0.875rem; // 14px
$pbj-text-size-medium: 1rem; // 16px
$pbj-text-size-large: 2rem; // 32px

$pbj-text-size-subtitle: .85rem;
$pbj-text-size-title: 2rem;

$padding-small: .5rem;
$padding-normal: 1rem;
$margin-normal: 1rem;
$margin-small: .25rem;

$pbj-footer-height: 80px;

$gc-large: 68.2%;
$gc-small: 32.8%;
