<ion-header>
  <pbj-toolbar [text]="pageName" (add)="onAdd($event)"></pbj-toolbar>
</ion-header>
<pbj-toolbelt></pbj-toolbelt>
<ion-content class="">
  <ng-container *ngFor="let box of boxes">
    <ion-toolbar pbjPress (pressed)="toggleEditMode($event)">
      <ion-buttons slot="end" [hidden]="!editMode">
        <ion-button slot="end" fill="clear" size="small" (click)="onMoveBoxUp(box)">
          <ion-icon name="arrow-up-sharp"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small" (click)="onMoveBoxDown(box)">
          <ion-icon name="arrow-down-sharp"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small" (click)="onEditBox(box)">
          <ion-icon name="create-sharp"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small" (click)="onRemoveBox(box)">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" size="small" (click)="editMode = false">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-button slot="end" fill="clear" size="small" (click)="update(box)" [hidden]="(box.boxtype === 'stats') || (box.listtype !== 'random')">
        <ion-icon name="refresh-sharp"></ion-icon>
      </ion-button>
      <ion-label slot="start" class="ion-activatable pbj-subtitle" (click)="navigateToList($event, box)">
        {{box.listtype}} • {{box.itemtype}}
        <ion-ripple-effect></ion-ripple-effect>
      </ion-label>
    </ion-toolbar>
    <pbj-dashboard-box [boxtype]="box.boxtype"
                       [itemType]="box.itemtype" [listType]="box.listtype"
                       [size]="box.size" [amount]="box.amount" [rows]="box.rows" [needsUpdate]="box.needsUpdate"
    ></pbj-dashboard-box>
  </ng-container>
</ion-content>
