<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      state: {{state | async}}
      xs: {{xs | async | json}}
      sm: {{sm | async | json}}
      md: {{md | async | json}}
      lg: {{lg | async | json}}
      xl: {{xl | async | json}}
    </div>

    <np-virtual-list
      [items]="items"
      [itemTemplate]="itemTemplate"
    ></np-virtual-list>
    <np-responsiv-row
      [items]="items"
      [itemTemplate]="itemTemplate2"
    ></np-responsiv-row>

    <ng-template #itemTemplate2 let-item let-idx="idx">
      <np-image-card></np-image-card>
    </ng-template>
    <ng-template #itemTemplate let-item let-idx="idx">
      <ion-avatar slot="start">
        <img src="https://loremflickr.com/40/40" alt="avatar"/>
      </ion-avatar>
      <ion-label> {{item?.name ?? 'NULLLLLL'}} in the template {{idx}}</ion-label>
    </ng-template>

    <strong>Ready to create an app?</strong>
    <ion-button (click)="extracted()">do it again</ion-button>
    <ion-button (click)="login()">login</ion-button>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
                           href="https://ionicframework.com/docs/components">UI
      Components</a></p>
  </div>
</ion-content>
