:host {
  --ion-background-color: transparent;

  ion-item {
    ion-input {
      border-bottom: 1px solid gray;
    }

    &.error {
      --min-height: 0;
    }
  }

  .login-button {
    width: 100%;
  }
}
