<form [formGroup]="form">
  <ion-list>
    <ion-item lines="none">
      <ion-text color="primary">
        <h3>Login</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-input
        label="{{ 'SETTINGS.SERVER.SERVER' | translate }}"
        labelPlacement="stacked"
        [formControl]="serverControl"
        [placeholder]="'SETTINGS.SERVER.SERVER_PH' | translate"
        (ionBlur)="onUserChanged()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="{{ 'SETTINGS.SERVER.USER' | translate }}"
        labelPlacement="stacked"
        [formControl]="usernameControl"
        [placeholder]="'SETTINGS.SERVER.USER_PH' | translate"
        (ionBlur)="onUserChanged()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="{{ 'SETTINGS.SERVER.PASSWORD' | translate }}"
        labelPlacement="stacked"
        [formControl]="passwordControl"
        [type]="passwordStyle"
        [placeholder]="'SETTINGS.SERVER.PASSWORD_PH' | translate"
        (ionBlur)="onUserChanged()" name="password"
      ></ion-input>

    </ion-item>
    <ion-item>
      <ion-button class="login-button" type="submit" (click)="submit()">Login</ion-button>

    </ion-item>
  </ion-list>
</form>
