<form [formGroup]="form">
  <ion-list>
    <ion-item lines="none">
      <ion-input
        label="{{ 'SETTINGS.SERVER.SERVER' | translate }}"
        labelPlacement="stacked"
        [formControl]="serverControl"
        [placeholder]="'SETTINGS.SERVER.SERVER_PH' | translate"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        label="{{ 'SETTINGS.SERVER.USER' | translate }}"
        labelPlacement="stacked"
        [formControl]="usernameControl"
        [placeholder]="'SETTINGS.SERVER.USER_PH' | translate"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        label="{{ 'SETTINGS.SERVER.PASSWORD' | translate }}"
        labelPlacement="stacked"
        [formControl]="passwordControl"
        [type]="passwordStyle"
        [placeholder]="'SETTINGS.SERVER.PASSWORD_PH' | translate"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button class="login-button" type="submit" (click)="submit()" [disabled]="form.invalid">Login</ion-button>
    </ion-item>
    <ion-item *ngIf="hasError" lines="none" class="error">
      <ion-text color="warning">
        <small>Sorry :( Login failed. See console for details.</small>
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox [formControl]="keepMeLoggedInControl">Keep me logged in</ion-checkbox>
    </ion-item>
  </ion-list>
</form>
