<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button class="right"></ion-menu-button>
    <ion-button *ngIf="!bars.search && back" (click)="navService.navigateBack()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title [hidden]="bars.search" (click)="searchbar()">{{text}}</ion-title>
  <ion-buttons slot="end">
    <ng-container *ngFor="let button of buttons_end">
      <ion-button *ngIf="isEnabled(button.id)" (click)="button.onClick($event)" [color]="color(button.id)">
        <ion-icon slot="icon-only" [name]="button.icon.name"></ion-icon>
      </ion-button>
    </ng-container>
  </ion-buttons>
  <pbj-searchbar #searchBar [hidden]="!bars.search"></pbj-searchbar>
  <ng-content></ng-content>
</ion-toolbar>
