<ng-container *ngIf="items else loading">
  <div class="box-wrapper" [ngClass]="[size, boxtype]" [ngSwitch]="boxtype">
    <div *ngSwitchCase="'panel'" class="row-wrapper" scrollX="true">
      <pbj-list-horiz *ngFor="let rowitems of items" [items]="rowitems"></pbj-list-horiz>
    </div>
    <div *ngSwitchCase="'list'" class="row-wrapper">
      <ion-list>
        <pbj-list-item *ngFor="let item of items"
                       [item]="item" [size]="size"
                       (select)="uiService.toggleSelect($event.item)"
                       (navigateTo)="navService.navigateToItem($event.item)"
                       (navigateToSub)="navService.navigateToItem($event.item, true)"
                       (play)="player.replace($event.item)"
                       (more)="popover.presentPopoverAsync('menu', { item:$event.item }, $event.ev)"
        ></pbj-list-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'stats'" class="row-wrapper">
      <ion-item>{{stats | json}}</ion-item>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
