<div class="content ion-padding" *ngIf="item" flex-col>

  <div>
    <p class="pbj-title-n-lines">{{info.name}}</p>
    <p class="pbj-text-item-type">{{item.item_type}}{{info.typeinfo}}</p>
  </div>
  <div flex-item flex-row flex-center-center>
    <ion-button size="large" class="pbj-play-button-overlay" shape="round" slot="start" *ngIf="hasPlay" fill="outline" color="secondary" (click)="play.emit({ev:$event, item:item})">
      <ion-icon slot="icon-only" [name]="player.isCurrentlyPlaying(item) ? 'pause-sharp' : 'play-sharp'"></ion-icon>
    </ion-button>
  </div>
  <p class="ion-activatable pbj-activatable" (click)="navService.navigateToItem(item, true)">{{info.subline}}
    <ion-ripple-effect></ion-ripple-effect>
  </p>
  <ion-toolbar>
    <p class="pbj-text-item-type">{{info.infoline}}{{info.endline}}</p>
    <ion-button slot="end" *ngIf="hasMore" fill="clear" color="primary" (click)="more.emit({ev:$event, item:item})">
      <ion-icon slot="icon-only" name="ellipsis-horizontal-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</div>
<ng-content></ng-content>
