<ion-header>
  <pbj-toolbar back="true" [text]="pageName"></pbj-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="scrollTop = $event.detail.scrollTop">
  <pbj-view-content flex-item [item]="dataService.item$('album') | async" (play)="onPlay($event.ev, $event.item)" (more)="onMore($event.ev, $event.item)"></pbj-view-content>
  <pbj-toolbelt [scrollTop]="scrollTop"
                (changeMode)="toggleListMode()"
                (changeSize)="toggleListSize()"
                (changeListSettings)="changeListSettings($event)"
  ></pbj-toolbelt>
  <pbj-virtual-list [items]="dataService.sublist$('albumTracks') | async"
                    [itemSize]="itemSize" [panel]="isPanel"
                    (play)="onPlay($event.ev, $event.item)"
                    (more)="onMore($event.ev, $event.item)"
  ></pbj-virtual-list>
</ion-content>



