:host {
  --overflow: auto;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--ion-font-family, inherit);

  &.hidden {
    display: none !important;
  }

  .virtual-loading {
    opacity: 0;
  }

  .pbj-virtual-item {
    position: absolute;
    left: 0;
    right: 0;
    // ....
    margin: 0;
    box-shadow: none;
    box-sizing: border-box;

  }

  &.simple {
    ion-card {
      margin: 0;
      box-shadow: none;
      border-bottom: var(--pbj-border);
      box-sizing: border-box;
    }

  }

  ion-virtual-scroll {
    contain: none; // show box shadow of card
  }

  .inner-scroll {
    //position: absolute;
    position: relative;
    left: 0;
    right: 0;
    top: calc(var(--offset-top) * -1);
    bottom: calc(var(--offset-bottom) * -1);
    background: var(--background);
    color: var(--color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;

    ::-webkit-scrollbar {
      display: none;
    }

    &.scroll-y {
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
      -ms-touch-action: pan-y;
      touch-action: pan-y;
      //overflow-y: var(--overflow);
    }

  }
}

