<div class="inner-scroll scroll-y">
  <ion-virtual-scroll #vscroll [items]="items" [approxItemHeight]="panelSize.height" [headerFn]="headerfn">
    <ion-item-divider pbj-margin-small *virtualHeader="let header"> {{ header }} </ion-item-divider>
    <div class="pbj-virtual-item" *virtualItem="let item;">
      <div *ngIf="!panel">
        <!--                       (click)="" prevent ghostclick here? probalby not... maybe !!!!!-->
        <pbj-list-item [item]="item" [size]="itemSize" [mode]="mode"
                       (select)="uiService.toggleSelect($event.item);"
                       (navigateTo)="navService.navigateToItem($event.item)"
                       (navigateToSub)="navService.navigateToItem($event.item, true)"
                       (play)="play.emit($event);"
                       (more)="more.emit($event);"
        ></pbj-list-item>
      </div>
      <div *ngIf="panel">
        <!--                       (click)="" prevent ghostclick here? probalby not... -->
        <pbj-list-item-panel [items]="item" [size]="itemSize" [mode]="mode"
                             (select)="uiService.toggleSelect($event.item);"
                             (navigateTo)="navService.navigateToItem($event.item)"
                             (navigateToSub)="navService.navigateToItem($event.item, true)"
                             (play)="play.emit($event);"
                             (more)="more.emit($event);"
        ></pbj-list-item-panel>
      </div>
    </div>
  </ion-virtual-scroll>
</div>
