:host {
  display: block;

  ion-slide {
    background-color: var(--ion-background-color);
  }

  .loading {
    display: block;
    width: 512px;
    height: 512px;
  }

  pbj-lazy-img {
    display: block;
    width: auto;
    height: 400px;
    max-width: 512px;
    max-height: 512px;
  }

}
