<main>
  <div class="wrapper" pbj-bg-dark>
    <ion-img class="asset" src="/assets/img/start-page.webp"></ion-img>
    <ion-text class="teaser">
      <h3>Welcome</h3>
      <h4>...to the world of tomorrow</h4>
      <ion-icon slot="start" name="bulb-sharp" color="primary"></ion-icon>
      {{tipOfTheDay.tipOfTheDay$ | async | translate}}
    </ion-text>
  </div>
  <div class="wrapper" pbj-bg-white>
    <ion-img class="logo" src="/assets/img/start-page-logo.svg"></ion-img>
    <pbj-auth-box (login)="goOnline($event)"></pbj-auth-box>
  </div>
</main>
