<main flex-row flex-item>
  -
  <div class="wrapper" pbj-bg-dark>
    <ion-img src="/assets/img/logo.svg" style="max-height: 200px; max-width: 300px;"></ion-img>
    <ion-card class="loading-card" [hidden]="!loading">
      <!--                <ion-img src="/assets/img/logo.svg"></ion-img>-->
      <ion-card-header>
        <ion-card-title>Welcome</ion-card-title>
        <ion-card-subtitle>...to the world of tomorrow</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-icon slot="start" name="bulb-sharp" color="primary"></ion-icon>
          {{tipOfTheDay.tipOfTheDay$ | async | translate}}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="wrapper" pbj-bg-light>
    <div>
      <pbj-auth-box (login)="goOnline($event)"></pbj-auth-box>
    </div>
  </div>
</main>
