@use "/src/theme/variables";
@use "/src/theme/breakpoints" as breaks;

:host {
  main {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    overflow: hidden;
    @include breaks.breakpoint-sm() {
      flex-direction: column;
      overflow: auto;
      .wrapper {
        width: 100%;
      }
    }
  }

  .wrapper {
    width: 50%;

    &:first-of-type {
      border-right: 1px solid grey;
    }

    &:last-of-type {
      padding: 1rem;
    }

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .asset {
    flex: 1;
    min-width: 175px;
    max-height: variables.$gc-large;
    max-width: 440px;
  }

  .logo {
    flex: 1;
    min-width: 175px;
    max-width: 300px;
    max-height: 120px;
    overflow: hidden;
    margin: 4svh 0;
  }

  pbj-auth-box {
    width: 300px;
  }

  .teaser {
    color: var(--ion-text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
