<ion-header>
  <pbj-toolbar back="true" [text]="pageName"></pbj-toolbar>
</ion-header>

<ion-content #content scrollEvents="true" (ionScroll)="scrollTop = $event.detail.scrollTop">
  <pbj-view-content flex-item [item]="dataService.item$('artist') | async" (play)="onPlay($event.ev, $event.item)" (more)="onMore($event.ev, $event.item)"></pbj-view-content>
  <pbj-toolbelt [scrollTop]="scrollTop"
                (changeMode)="toggleListMode()"
                (changeSize)="toggleListSize()"
                (changeListSettings)="changeListSettings($event)"
  ></pbj-toolbelt>
  <ion-item-divider>Albums</ion-item-divider>
  <pbj-virtual-list [itemSize]="itemSize" [panel]="isPanel"
                    [headerfn]="headerfn"
                    [items]="dataService.sublist$('artistAlbums') | async"
                    (play)="onPlay($event.ev, $event.item)"
                    (more)="onMore($event.ev, $event.item)"
  ></pbj-virtual-list>
  <ion-item-divider>Top Songs</ion-item-divider>
  <pbj-virtual-list itemSize="small"
                    [items]="dataService.sublist$('artistTopTracks') | async"
                    (play)="onPlay($event.ev, $event.item)"
                    (more)="onMore($event.ev, $event.item)"
  ></pbj-virtual-list>
</ion-content>
